* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEB887;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.formImg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5DEB3;
    padding: 1rem;
}

.formImg img {
    width: 25rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.loginBtn {
    display: flex;
    align-items: center;
}

.loginBtn button a {
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #DEB887;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #f6b87f;
}

.input-box label,
.titleGroup h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem;
    padding: 0 2rem;
}

.groupInput {
    display: flex;
}

.groupInput input {
    margin-right: 0.30rem;
}

.groupInput label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.continue-btn button {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: #DEB887;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-btn button:hover {
    background-color: #ccaa7d;
}

.continue-btn button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #FFFFFF;
}